.About {
  height: 100%;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.keepRatio {
  object-fit: scale-down;
}

.LeftPart{
  float:left;
  height: 100%;
  width: 25%;
}

.MiddlePart{
  height: 100%;
  width: 50%;
}

.RightPart{
  height: 100%;
  width: 25%;
}

@media (orientation: portrait){ 
  .About {
    height: 100%;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .keepRatio {
    object-fit: scale-down;
  }
  
  .MiddlePart{
    height: 100%;
    width: 100%;
  }

}