.About {
  height: 85vh;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.keepRatio {
  object-fit: scale-down;
}

.LeftPart{
  float:left;
  height: 85vh;
  width: 25vw;
}

.MiddlePart{
  height: 85vh;
  width: 50vw;
}

.RightPart{
  height: 85vh;
  width: 25vw;
}

@media (orientation: portrait){ 
  .About {
    height: 85vh;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .keepRatio {
    object-fit: scale-down;
  }
  
  .MiddlePart{
    height: 85vh;
    width: 100vw;
  }

}