.Text {
    text-align: justify;
    color:#EEEEEE;
}

.Root{
    flex-direction: row;
}

.Left{
    background-color:#393E46 ;
    color:darkslategray ;
    float:left;
    height: 85vh;
    width: calc(52vw - (100vw - 100%));
    padding-left: 1vw;
    padding-right: 1vw;
    overflow-y: scroll;
}

.Right{
    background-color:#393E46 ;
    float:right;
    height: 84vh;
    width: 45vw;
    padding-top: 1vh;
    padding-left: 1vw;
}

@media (orientation: portrait){ 
    .Text {
        text-align: justify;
        color:#EEEEEE;
        padding-right:1vw;
    }
    
    .Left{
        background-color:#393E46 ;
        color:darkslategray ;
        width: auto; 
        height: auto;
        overflow-y: hidden;
    }
    
    .Right{
        background-color:#393E46 ;
        width: 100%; 
        height:auto;
    }

    .Root{
        flex-direction: column;
    }
}