.Text {
    text-align: justify;
    color:#ffffff;
}

.Root{
    flex-direction: row;
}

.IconAndText{
    margin-top:3vh;
    height:24vh;
    flex-direction: column;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    background-color: #000000ee;
    border-radius: 4vh;
}

.Icon{
    height: 24vh;
    float:left;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left:1vw;
    margin-right:1vw;
}

.P{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20vh;
    padding-right:2vw;
}

.P2{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right:2vw;
    font-size: 2vh;
}

.P3{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right:2vw;
    font-size: 2vh;
}

.Left{
    background-color:#ffffff ;
    color:darkslategray ;
    float:left;
    height: 85vh;
    width: calc(52vw - (100vw - 100%));
    padding-left: 1vw;
    padding-right: 1vw;
}

.Right{
    background-color:#ffffff ;
    float:right;
    height: 81.5vh;
    width: 45vw;
    padding-top: 3.5vh;
    padding-left: 1vw;
}

a {
    color: #EEEEEE;
  }

@media (orientation: portrait){ 
    .Text {
        text-align: justify;
        color:#ffffff;
        padding-right:1vw;
    }
    
    .Left{
        background-color:#ffffff ;
        color:darkslategray ;
        width: auto; 
        height: auto;
    }
    
    .Right{
        background-color:#ffffff ;
        width: 100%; 
        height:auto;
    }

    .IconAndText{
        margin-top:3vh;
        height:24vh;
        flex-direction: column;
        border-style: groove;
        border-color: #EEEEEE;
        border-width: 1px;
        background-color: #000000;
        border-radius: 1vh;
    }

    .P{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 20vh;
        padding-right:2vw;
        font-size:100%;
    }
}