.pdf{
    height: 90%;
    width: 75%;
}

.tab{
    height: 20%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.link{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #222222;
}

.content{
    height: 100%;
    width: 70%;
}

.title{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNo{
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #222222;
    color: #ffffff;
}

@media (orientation: portrait){ 
    .pdf {
        height: 95%;
        width: 95%;
    }
}