.TopNav {
  text-align: center;
  flex-direction:row;
  align-items:stretch;
  display:table;
  background-color:#222831 ;
  color:honeydew ;
  height: 14.75vh;
  width: 100vw;
}

.Link {
  color:ivory ;
  text-decoration: 'none';
  font-size: 2.5vmin;
  text-decoration: none;
}

.Link:hover {
  background-color:#00ADB5 ;
  border-radius: 0.5vmin;
}

.SelectedLink {
  color:ivory ;
  text-decoration: none;
  font-size: 2.5vmin;
}

.SelectedLink:hover {
  background-color: #00ADB5;
  border-radius: 0.5vmin;
}

.Highlight {
  width: auto;
  margin-top: 0.3vh;
  height : 0.5vh;
  border-radius: 5px;
  background-color:#00ADB5;
}

.NoHighlight {
  width: auto;
  margin-top: 0.3vh;
  height : 0.5vh;
}

.NavAndBox {
  display:inline-block;
  margin-left: 2vw;
}

.Line {
  height: 0.25vh;
}