.TopNav {
  position: fixed;
    top: 0;
  text-align: center;
  background-color:#ffffff ;
  color:#000000;
  height: 14.75vh;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  align-items: center;
  justify-content: center;
  display:flex;
}

.RightTopNav{
  height: 14.75vh;
  width: 50vw;
  margin-right:5vw;
}

img{
  max-width:100%;
  max-height:100%;
  height: 100%;
  width: auto;
}

.Link {
  color:#000000;
  text-decoration: 'none';
  font-size: 2.5vmin;
  text-decoration: none;
  padding:0.3vh;
}

.Link:hover {
  background-color:#000000 ;
  border-radius: 0.5vmin;
  padding:0.3vh;
  color: #ffffff;
}

.SelectedLink {
  color:#000000;
  text-decoration: none;
  font-size: 2.5vmin;
  padding:0.3vh;
}

.SelectedLink:hover {
  background-color: #000000;
  border-radius: 0.5vmin;
  padding:0.3vh;
  color: #ffffff;
}

.Highlight {
  width: auto;
  margin-top: 0.5vh;
  height : 0.5vh;
  border-radius: 5px;
  background-color:#000000;
}

.NoHighlight {
  width: auto;
  margin-top: 0.3vh;
  height : 0.5vh;
}

.NavAndBox {
  display:inline-block;
  margin-left: 2vw;
  margin-top: 5.5vh;
}

.Line {
  height: 0.25vh;
  background-color:#000000;
}

.Logos {
  width: 50vw;
  height: 10vh;
  display:flex;
  float:left;
}

.Logo {
  margin-left:0.5vw;
  width: auto;
  height: 10vh;
}

.PopoverItem {
  padding: 2vw;
  height: 5vh;
  text-align: center;
}

@media (orientation: portrait){ 
  .SelectedLink {
    color:#000000;
    text-decoration: none;
    font-size: 100%;
  }

  .Link {
    color:#000000;
    text-decoration: 'none';
    font-size: 100%;
    text-decoration: none;
  }
  .Logos {
    width: 100vw;
    height: 10vh;
    display:flex;
    float:left;
  }
  .RightTopNav{
    height: 14.75vh;
    width: 50vw;
    margin-right:5vw;
    display: flex;
    justify-content: center;
  }
}