body{
    font-family: 'Kalam', serif;
}

.Root{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:#ffffff;
}

.container {
    height: 85vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex: 1;
}