body{
    font-family: 'Kalam', serif;
}

.Root{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:#ffffff;
}

.container {
    margin-top: 15vh;
    height: 85vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one {
 
}

.two {

}

.three {
}

.four {
}